@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background: #accddd;
}
.container,
.sidemenu,
.brgylink,
.brgylogo {
  display: flex;
}
.container {
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
}
.sidemenu {
  flex-direction: column;
  background-color: #78bee1;
  width: 15rem;
}
.brgylink {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1.3rem;
}
.brgylogo {
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.barangay-name,
.brgylink a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
.brgylink a {
  text-decoration: none;
  width: 90%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
}
.brgylink a:hover {
  background-color: #1c5c7c;
  transform: scale(1.1);
}
.container-table {
  display: flex;
  width: 75%;
  margin-top: 2rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.4s ease;
  background: #d0e3ec;
  height: 80vh;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-direction: column;
}
.container-table:hover {
  box-shadow: 0 12px 24px 0 rgb(0 0 0 / 20%);
}
.content-table {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.content-table::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.content-table::-webkit-scrollbar-thumb {
  background: #298dbfad;
}
.content-table::-webkit-scrollbar-track {
  background: #298dbf23;
}
.content-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.clearance-table,
.certification-table,
.permit-table,
.travelpermit-table,
.account-table,
.superadmin-table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #ffffff;
  height: auto;
}
.clearance-table tr th,
.certification-table tr th,
.permit-table tr th,
.travelpermit-table tr th {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: 2px solid #ffffff;
  background-color: #78bee1;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  top: 0;
  position: sticky;
}
.clearance-table tr td,
.certification-table tr td,
.permit-table tr td,
.travelpermit-table tr td {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  border: 2px solid #ffffff;
  background-color: #bbeaff;
  text-align: left;
  padding: 0.5rem;
}
.clearance-table tr td:nth-child(3),
.certification-table tr td:nth-child(3),
.permit-table tr td:nth-child(3),
.travelpermit-table tr td:nth-child(3) {
  text-align: center;
}
#td_button {
  text-align: center;
}
#td_button a:link,
#td_button a:visited {
  background-color: #72ebb3;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#td_button a:hover,
#td_button a:active {
  background-color: #72ebb3;
}
#td_button a:nth-child(1) {
  margin-right: 0.5rem;
}
#td_button a {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}
.account-table tr th,
.superadmin-table tr th {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  border: 2px solid #ffffff;
  background-color: #78bee1;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  top: 0;
  position: sticky;
}
.account-table tr td,
.superadmin-table tr td {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  border: 2px solid #ffffff;
  background-color: #bbeaff;
  text-align: left;
  padding: 0.5rem;
}
.addvoter,
.addbrgy {
  margin-bottom: 1rem;
}
.addvoter button,
.addbrgy button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: large;
  width: 15rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: rgba(64, 224, 208, 0.657);
}
.swal-content__input,
.swal-content__textarea {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: large;
}
.swal-text {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: large;
}
#td_button button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  background-color: #72ebb3;
  color: white;
  font-size: 0.8rem;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-color: #72ebb3;
}
.clearance-table tr td:nth-child(5),
.certification-table tr td:nth-child(5),
.permit-table tr td:nth-child(5),
.travelpermit-table tr td:nth-child(5) {
  width: 10rem;
}
.addbrgy button {
  width: 20rem;
}
.infobrgy {
  background: rgba(196, 196, 196, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  padding-left: 2%;
  padding-right: 2%;
}
.content-brgy {
  background: #f1f1f1;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 25%);
  border-radius: 2rem;
  width: 30rem;
  height: 20rem;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}
.title-brgy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
.input-account-brgy {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
  height: 100%;
}
.title-brgy p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}
.title-brgy button {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: rgba(248, 0, 0, 0.404);
}
.input-account-brgy select,
.input-account-brgy input {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  height: 2.5rem;
  text-indent: 0.7rem;
  border-radius: 1rem;
}
.savebtn-brgy {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  color: black;
  border-radius: 1rem;
  height: 2.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: rgb(168, 245, 168);
}
